
#form_nuevo_cliente{
margin: 40px 20px 0px 20px;
}
#txtarea{
width:400px;
height: 83px;
}
.input_info {
float:left;
display: inline-block;
margin-right: 100px;
}
#btn_agregar{
margin-left: 323px;
margin-top: -26px;
}
#btn_agregar2{
margin-left: 322px;
margin-top: -26px;
}
#ancho_input1{
width: 320px;
margin-bottom: -13px;
}
#ancho_input2{
width: 320px;
margin-bottom: -13px;
margin-left: -1px;
}
.dato_contacto{
float: left;
display:inline;
margin-right: 100px;
}

#prueba li {
height: 30px;

}

#prueba a:hover{

height: 30px;

} 








