#form_nuevo_cliente{
	/*margin: 0px 40px 40px 40px;*/
	/*float: left;*/
}
#txtarea{
width:400px;
height: 83px;
}
.input_info {
float:left;
display: inline-block;
margin-right: 100px;
}
#btn_agregar{
margin-left: 323px;
margin-top: -26px;
}
#btn_agregar2{
margin-left: 322px;
margin-top: -26px;
}
#ancho_input1{
width: 320px;
margin-bottom: -13px;
}
#ancho_input2{
width: 320px;
margin-bottom: -13px;
margin-left: -1px;
}
.dato_contacto{
float: left;
display:inline;
margin-right: 100px;
}

.input-group{
	width: 400px;
}

.input-group input,.input-group select {
	margin-top: 0px;
}

.otroArchivo button, .otroTelefono button, .eliminarCopia button{
	border-radius: 0px 4px 4px 0px;
	margin-left: -1px;
}

.dato_contacto .btn-group input{
	/*border-radius: 4px 0px 0px 4px; */ /*No funciona*/
	border-right: 0px;
}

.copia {
	margin-top: 15px;
}