#form_nuevo_cliente{
	/*margin: 0px 40px 40px 40px;*/
	/*float: left;*/
}
#txtarea{
width:400px;
height: 83px;
}
.input_info {
float:left;
display: inline-block;
margin-right: 100px;
}
#btn_agregar{
margin-left: 323px;
margin-top: -26px;
}
#btn_agregar2{
margin-left: 322px;
margin-top: -26px;
}
#ancho_input1{
width: 320px;
margin-bottom: -13px;
}
#ancho_input2{
width: 320px;
margin-bottom: -13px;
margin-left: -1px;
}
.dato_contacto{
float: left;
display:inline;
margin-right: 100px;
}


.input_info #div_telefonos input{
	margin: inherit;
	width: 250px;
}
.input_info #div_telefonos{
	width: 3%;
}

.input_info .btn-group-justified{
	width: 400px;
}