<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
		<script type="text/javascript" src="js/jquery.js"></script>
		<script src='js/prefixfree.min.js'></script>
		 <script src='js/menu_jquery.js'></script>
	<!--Bootstrap-->
		<link rel="stylesheet" type="text/css" href="css/bootstrap-3.1.1-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-3.1.1-dist/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-3.1.1-dist/js/bootstrap.min.js">
		<script type="text/javascript" src="css/bootstrap-3.1.1-dist/js/dropdown.js"></script>
		<script type="text/javascript" src="css/bootstrap-3.1.1-dist/js/tab.js"></script>
		<script type="text/javascript" src="css/bootstrap-3.1.1-dist/js/button.js"></script>

	<!--Bootstrap-->

	<!--Iconos-->
		<link rel="stylesheet" href="css/style.css">
	<!--Iconos-->

	<!-- Css -->
	<link rel="stylesheet/less" href="css/style_menuServicios.css">
	<!-- Css -->

	<!--Less-->
		<link rel="stylesheet/less" href="css/estilos_menu_cabecera.less">
		<link rel="stylesheet/less" href="css/estilos_modulo_cotizaciones.less">
		<link rel="stylesheet/less" href="css/estilos_modulo_clientes.less">
		<link rel="stylesheet/less" href="css/estilo_general.less">
		<link rel="stylesheet/less" href="css/estilo_dashboard_gustavo.less">
		<script type="text/javascript" src="js/less.js"></script>
	<!--Less-->
	

	<script type="text/javascript">
		$(document).on('ready',function(){
			$('#tab_pagos a').click(function (e) {
			  e.preventDefault()
			  $(this).tab('show');
			});
		});
	</script>
	<title></title>
</head>
<body id="cuerpo">
</body>
</html>
